{% extends 'homesapp1/base.html' %}

 <html>
    <head></head>
    {% block body %}
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Property bazaar</h1>
                <p>Find the best property available</p>
            </div>
        </div>
        <center><h1>Select your location</h1></center>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Locations</div>
            {% for location in object_list %}
            <div class="panel-body">
                <a href="/homesapp1/{{location.id}}">{{location.location_name}}</a><br>
            </div>
            {% endfor %}
        </div>
    </div>
    </body>


{% endblock %}